use_sops() {
    local path=${1:-$PWD/secretes.sops.yaml}
    if [ -f $path ]; then
        eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
        watch_file "$path"
    fi
}

use sops secrets.sops.yaml

if has nix; then
    use flake;
fi

dotenv_if_exists .env
