name: ci
on:
  pull_request:
    branches: [main]
jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
          node-version: 22
      - name: Force Failure
        run: (exit 1)
